backend:
  name: github
  repo: wulouie7-ai/web-site
  branch: main
  base_url: https://decap-cms-oauth.netlify.app
  auth_endpoint: auth


media_folder: "static/images"
public_folder: "/images"

collections:
  - name: "posts"
    label: "Posts"
    folder: "content/posts"
    create: true
    slug: "{{slug}}"
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Body", name: "body", widget: "markdown" }

